/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*///////////////////////////////////////////////////////*/
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/*---------------- Grid Container ----------------*/
.hero-container {
    height: 100%;
    overflow-y: auto;
    padding: 5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    justify-content: center;
    gap: 2rem;
    /* margin: 5rem; */
    /* height: 100%; */
}

/*---------------- Book Cards ----------------*/
.book-card {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;    
}

.book-card h3 {
    padding: 0.5rem;
}
.book-card p {
    padding: 1rem;
}
.book-card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
/*---------------- Book Form ----------------*/
.hide {
    display: none;
}

.form-container {
    border:  1px solid white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}
.book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    border-radius: 0.5rem;
    background-color: rgb(85, 122, 222);
    padding: 2rem;
}
.book-form div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.form-btn {
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.3rem;
}
.book-form ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid violet; */
}
.book-form li {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
}
.book-form label {
    font-size: 1.3rem;
}
.book-form input {
    padding: 0.5rem;
}
